name: Build release binaries

on:
  workflow_dispatch:

jobs:
  build_native:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            arch: arm64
            target: aarch64-apple-darwin
            platform: macosx_arm64
          - os: macos-latest
            arch: x86_64
            target: x86_64-apple-darwin
            platform: macosx_x86_64
    steps:
      - uses: actions/checkout@v2
      - name: Setup rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - name: Setup build directory
        run: mkdir builds
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target=${{ matrix.target }}
      - name: Copy
        run: cp target/${{ matrix.target }}/release/libviam.dylib builds/libviam-${{ matrix.platform }}.dylib
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: builds
          path: builds

  build_in_container:
    runs-on: [x64, qemu-host]
    container:
      image: ${{ matrix.image }}
      options: ${{ matrix.opts }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: [arm64, qemu-host]
            target: aarch64-unknown-linux-gnu
            platform: linux_aarch64
            ext: so
            image: 'ghcr.io/viamrobotics/canon:arm64-cache'
            opts: '--platform linux/arm64'
          - arch: [x64, qemu-host]
            target: x86_64-unknown-linux-gnu
            platform: linux_x86_64
            ext: so
            image: 'ghcr.io/viamrobotics/canon:amd64-cache'
            opts: '--platform linux/amd64'
    steps:
      - uses: actions/checkout@v2
      - name: Setup rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - name: Setup build directory
        run: mkdir builds
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target=${{ matrix.target }}
      - name: Copy
        run: cp target/${{ matrix.target }}/release/libviam.${{ matrix.ext }} builds/libviam-${{ matrix.platform }}.${{ matrix.ext }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: builds
          path: builds
